build/
build_onnx/
results/*.jpg
results/*.png
results*/
data/raw/
data/datasets/
third_party/
.venv-yolo/
runs/
dist/
models/*.onnx
*.onnx
*.pt
*.pth
*.engine
*.dll
*.lib
*.exe
*.obj
*.pdb
*.ilk
*.exp
*.cache
__pycache__/
*.pyc
*.user
*.suo
*.vcxproj*
*.filters
